In [1]:
import pandas as pd

In [6]:
df_see1 = pd.read_csv("./2016-us-election/county_facts.csv")
#X = df_see.drop("gene",axis=1).values.astype("int") # to drop the gene column and convert data to int
samples1 = df_see1.columns

In [7]:
samples1

Index(['fips', 'area_name', 'state_abbreviation', 'PST045214', 'PST040210',
       'PST120214', 'POP010210', 'AGE135214', 'AGE295214', 'AGE775214',
       'SEX255214', 'RHI125214', 'RHI225214', 'RHI325214', 'RHI425214',
       'RHI525214', 'RHI625214', 'RHI725214', 'RHI825214', 'POP715213',
       'POP645213', 'POP815213', 'EDU635213', 'EDU685213', 'VET605213',
       'LFE305213', 'HSG010214', 'HSG445213', 'HSG096213', 'HSG495213',
       'HSD410213', 'HSD310213', 'INC910213', 'INC110213', 'PVY020213',
       'BZA010213', 'BZA110213', 'BZA115213', 'NES010213', 'SBO001207',
       'SBO315207', 'SBO115207', 'SBO215207', 'SBO515207', 'SBO415207',
       'SBO015207', 'MAN450207', 'WTN220207', 'RTN130207', 'RTN131207',
       'AFN120207', 'BPS030214', 'LND110210', 'POP060210'],
      dtype='object')

In [8]:
df_see1.head()

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,0,United States,NaN,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,NaN,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1003,Baldwin County,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
4,1005,Barbour County,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,0.0,27.0,0,0,188337,6334,0,8,884.88,31.0

In [9]:
df_see2 = pd.read_csv("./2016-us-election/county_facts_dictionary.csv")
#X = df_see.drop("gene",axis=1).values.astype("int") # to drop the gene column and convert data to int
samples2 = df_see2.columns

In [10]:
df_see2.head()

  column_name                                        description
0   PST045214                          Population, 2014 estimate
1   PST040210          Population, 2010 (April 1) estimates base
2   PST120214  Population, percent change - April 1, 2010 to ...
3   POP010210                                   Population, 2010
4   AGE135214               Persons under 5 years, percent, 2014

In [11]:
df_see2["description"]

0                             Population, 2014 estimate
1             Population, 2010 (April 1) estimates base
2     Population, percent change - April 1, 2010 to ...
3                                      Population, 2010
4                  Persons under 5 years, percent, 2014
5                 Persons under 18 years, percent, 2014
6              Persons 65 years and over, percent, 2014
7                         Female persons, percent, 2014
8                            White alone, percent, 2014
9        Black or African American alone, percent, 2014
10    American Indian and Alaska Native alone, perce...
11                           Asian alone, percent, 2014
12    Native Hawaiian and Other Pacific Islander alo...
13                     Two or More Races, percent, 2014
14                    Hispanic or Latino, percent, 2014
15    White alone, not Hispanic or Latino, percent, ...
16    Living in same house 1 year & over, percent, 2...
17             Foreign born persons, percent, 2009-2013
18    Language other than English spoken at home, pc...
19    High school graduate or higher, percent of per...
20    Bachelor's degree or higher, percent of person...
21                                  Veterans, 2009-2013
22    Mean travel time to work (minutes), workers ag...
23                                  Housing units, 2014
24                        Homeownership rate, 2009-2013
25    Housing units in multi-unit structures, percen...
26    Median value of owner-occupied housing units, ...
27                                Households, 2009-2013
28                     Persons per household, 2009-2013
29    Per capita money income in past 12 months (201...
30                   Median household income, 2009-2013
31      Persons below poverty level, percent, 2009-2013
32                 Private nonfarm establishments, 2013
33                    Private nonfarm employment,  2013
34    Private nonfarm employment, percent change, 20...
35                     Nonemployer establishments, 2013
36                          Total number of firms, 2007
37                     Black-owned firms, percent, 2007
38    American Indian- and Alaska Native-owned firms...
39                     Asian-owned firms, percent, 2007
40    Native Hawaiian- and Other Pacific Islander-ow...
41                  Hispanic-owned firms, percent, 2007
42                     Women-owned firms, percent, 2007
43               Manufacturers shipments, 2007 ($1,000)
44             Merchant wholesaler sales, 2007 ($1,000)
45                          Retail sales, 2007 ($1,000)
46                        Retail sales per capita, 2007
47    Accommodation and food services sales, 2007 ($...
48                               Building permits, 2014
49                      Land area in square miles, 2010
50                     Population per square mile, 2010
Name: description, dtype: object

In [12]:
samples2

Index(['column_name', 'description'], dtype='object')

In [13]:
df_see3 = pd.read_csv("./2016-us-election/primary_results.csv")
#X = df_see.drop("gene",axis=1).values.astype("int") # to drop the gene column and convert data to int
samples3 = df_see3.columns

In [14]:
df_see3[df_see3["county"]=="Abbot"]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
8121,Maine,ME,Abbot,92300001.0,Democrat,Bernie Sanders,1,1.0
8122,Maine,ME,Abbot,92300001.0,Democrat,Hillary Clinton,0,0.0

item: election 2016 fact

Attributes:the differentstats,'fips','area_name','state_abbreviation':categorical attributes
the other columns are quantitive attributes

state:categorical	
state_abbreviation:categorical	
county:categorical 
fips:quantitative	
party:categorical	
candidate:categorical	
votes:quantitative	
fraction_votes:quantitative

In [15]:
df_see3_manip = df_see3[["county","party","votes"]].groupby(["county","party"]).sum()

df_see3_manip['county'] = df_see3_manip.index
df_see3_manip.head()

                      votes                   county
county    party
Abbeville Democrat     1813    (Abbeville, Democrat)
          Republican   3667  (Abbeville, Republican)
Abbot     Democrat        1        (Abbot, Democrat)
Abington  Democrat     2511     (Abington, Democrat)
          Republican   2049   (Abington, Republican)

In [16]:
counties = df_see3['county'].unique()
df = pd.DataFrame(columns = ['county'])
df['county'] = counties

In [17]:
df = df_see3[df_see3["party"]=="Democrat"]
df_democrats = df[["county", "votes"]].groupby(["county"]).sum()
df = df_see3[df_see3["party"]=="Republican"]
df_republicans = df[["county", "votes"]].groupby(["county"]).sum()

In [18]:
#df['Democrats'] = df_see3_manip[df_see3["party"]=="Democrat"]

In [19]:
counties = df_see3['county'].unique()
df = pd.DataFrame(columns = ['county'])
df['county'] = counties
df=df.set_index('county')
df['Democrat'] = df_democrats
df['Republican'] = df_republicans
df=df.fillna(0)

In [20]:
df['proportion'] = df['Democrat']/(df['Democrat']+df['Republican'])
df['democratWin'] = df['proportion']>0.5

In [21]:
df

                      Democrat  Republican  proportion  democratWin
county
Autauga                 2931.0     11839.0    0.198443        False
Baldwin                11783.0     53544.0    0.180370        False
Barbour                 4469.0      5395.0    0.453062        False
Bibb                   16764.0     19028.0    0.468373        False
Blount                  6057.0     35487.0    0.145797        False
Bullock                 2629.0       541.0    0.829338         True
Butler                 45205.0    115176.0    0.281860        False
Calhoun                26301.0     46099.0    0.363273        False
Chambers                4191.0     11246.0    0.271491        False
Cherokee               21315.0     81490.0    0.207334        False
Chilton                 1149.0     10404.0    0.099455        False
Choctaw                 3784.0      4329.0    0.466412        False
Clarke                 20096.0     18991.0    0.514135         True
Clay                   45441.0     95868.0    0.321572        False
Cleburne                1367.0     10887.0    0.111555        False
Coffee                  5619.0     22643.0    0.198818        False
Colbert                 5221.0      8036.0    0.393830        False
Conecuh                 2575.0      1271.0    0.669527         True
Coosa                   1137.0      2176.0    0.343193        False
Covington               2774.0     12709.0    0.179164        False
Crenshaw                1015.0      2704.0    0.272923        False
Cullman                 1998.0     20557.0    0.088583        False
Dale                    1959.0      8836.0    0.181473        False
Dallas                173021.0    182108.0    0.487206        False
DeKalb                133218.0     82555.0    0.617399         True
Elmore                  4213.0     20211.0    0.172494        False
Escambia               28336.0     53623.0    0.345734        False
Etowah                  5551.0     18417.0    0.231600        False
Fayette                78473.0     86057.0    0.476953        False
Franklin              215941.0    272424.0    0.442171        False
...                        ...         ...         ...          ...
Sauk                   11721.0     10793.0    0.520609         True
Sawyer                  2627.0      3652.0    0.418379        False
Shawano                 5100.0      9110.0    0.358902        False
Sheboygan              15712.0     25332.0    0.382809        False
St. Croix              10562.0     16247.0    0.393972        False
Trempealeau             4417.0      4722.0    0.483313        False
Vilas                   3552.0      6079.0    0.368809        False
Waukesha               51123.0    120830.0    0.297308        False
Waupaca                 6465.0     10748.0    0.375588        False
Waushara                2683.0      5152.0    0.342438        False
Converse                   5.0         0.0    1.000000         True
Hot Springs                2.0         0.0    1.000000         True
Laramie                   51.0       179.0    0.221739        False
Natrona                   38.0         0.0    1.000000         True
Niobrara                   2.0         0.0    1.000000         True
Sublette                   4.0         0.0    1.000000         True
Sweetwater                22.0         0.0    1.000000         True
Uinta                      9.0         0.0    1.000000         True
Washakie                   3.0         0.0    1.000000         True
Albany-Natrona             0.0        76.0    0.000000        False
Campbell-Johnson           0.0        68.0    0.000000        False
Converse-Niobrara          0.0        73.0    0.000000        False
Crook-Weston               0.0        27.0    0.000000        False
Fremont-Park               0.0        97.0    0.000000        False
Goshen-Platte              0.0        83.0    0.000000        False
Hot Springs-Washakie       0.0        43.0    0.000000        False
Sheridan-Big Horn          0.0        75.0    0.000000        False
Sweetwater-Carbon          0.0        89.0    0.000000        False
Teton-Sublette             0.0        40.0    0.000000        False
Uinta-Lincoln              0.0        53.0    0.000000        False

[2633 rows x 4 columns]

In [22]:
df.to_csv('clean_data.csv')

Let's to join both datasets

In [40]:
#df_see1.rename(columns = {"county":"area_name"})
df_see1["county"] = df_see1.area_name.str.replace(" County","")

In [41]:
df_see1.head()

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210,county
0,0,United States,NaN,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4,United States
1,1000,Alabama,NaN,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4,Alabama
2,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,31.7,0,0,598175,12003,88157,131,594.44,91.8,Autauga
3,1003,Baldwin County,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6,Baldwin
4,1005,Barbour County,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,27.0,0,0,188337,6334,0,8,884.88,31.0,Barbour

In [42]:
df_see3.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [43]:
df_all = pd.merge(df_see1,df_see3,how = 'left', left_on=['state_abbreviation',"county"], right_on = ["state_abbreviation","county"])

In [45]:
df_all.head()

,fips_x,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,BPS030214,LND110210,POP060210,county,state,fips_y,party,candidate,votes,fraction_votes
0,0,United States,NaN,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,1046363,3531905.43,87.4,United States,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,Alabama,NaN,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,13369,50645.33,94.4,Alabama,NaN,NaN,NaN,NaN,NaN,NaN
2,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,131,594.44,91.8,Autauga,Alabama,1001.0,Democrat,Bernie Sanders,544.0,0.182
3,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,131,594.44,91.8,Autauga,Alabama,1001.0,Democrat,Hillary Clinton,2387.0,0.800
4,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,131,594.44,91.8,Autauga,Alabama,1001.0,Republican,Ben Carson,1764.0,0.146